page-syncdata {

    //Progress Bar Animation CSS
    .progressbar,
    .progressbar-inner {
        transition: all .15s ease-in-out;
    }

    .progressbar {
        background: linear-gradient(180deg, #fff 0%, #ccc 100%);
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 5px 30px -9px, 0px 0px 10px 1px #fff inset;
        width: 50%;
        margin: 0 auto;
        // position: relative;
        // top: 50%;
        // transform: translateY(-50%);
        padding: 6px;
    }

    .progressbar-bg {
        background: linear-gradient(0deg, #fff 0%, #ccc 100%);
        border-radius: 7px;
        border: 2px solid #fff;
        padding: 2px 0px 0px 1px;
    }

    .progressbar-inner {
        // background:
        //     linear-gradient(90deg, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, .2) 50%, rgba(0, 0, 0, .1) 100%),
        //     linear-gradient(2deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .5) 95%, rgba(255, 255, 255, 0) 100%),
        //     linear-gradient(0deg, #00b9ff 0%, #30f5ff 100%);
        border-radius: 6px;
        border: 1px solid darkblue;
        text-align: center;
        padding: 8px 0 6px;
        font-size: 25px;
        font-family: 'Montserrat';
        font-weight: 600;
        letter-spacing: -.5px;
        box-shadow: 0px 0 20px 2px rgba(160, 207, 255, 0.6), 0 0 20px 4px #1187b4 inset;
        color: black;
        // text-shadow: 0 -2px 20px #b16f08, 2px 2px 0px rgba(255, 255, 255, .2);
    }

    .completed-progressbar {
        background:
            linear-gradient(90deg, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, .2) 50%, rgba(0, 0, 0, .1) 100%),
            linear-gradient(2deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .5) 95%, rgba(255, 255, 255, 0) 100%),
            linear-gradient(0deg, #00b9ff 0%, #30f5ff 100%);
    }

    //3 Dot Animation CSS
    #dot1 {
        background: #000000;
        opacity: 0.5;
    }

    #dot2 {
        background: #000000;
        opacity: 0.7;
        animation-delay: -1.1s;
    }

    #dot3 {
        background: #000000;
        opacity: 0.9;
        animation-delay: -0.9s;
    }

    .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
        animation: popWave 1.3s linear infinite;
    }

    @keyframes popWave {

        0%,
        60%,
        100% {
            transform: initial;
        }

        30% {
            transform: translateY(-15px);
        }
    }

    .loadingText {
        font-size: 24px;
        font-weight: bold;
        padding-right: 5px;
    }

    .HeadText {
        display: block;
        font-family: Poppins-Bold;
        font-size: 39px;
        color: #57b846;
        line-height: 1.2;
        text-align: center;
    }

    .LogoImg {
        display: block;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0px auto;
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 2px 5px 18px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 2px 5px 18px rgba(0, 0, 0, 0.3);
    }

}