<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 class="HeadText">Welcome</ion-col>
      <ion-col col-12 style="height: 150px;">
        <img src="assets/img/logo.png" class="LogoImg" alt="AVATAR">
      </ion-col>
      <ion-col col-12 text-center [hidden]="!sync.IsCompleted" style="color: green;font-size: 21px;text-shadow: 3px 5px 7px #32db64;">
        Synchronization Done Successfully
      </ion-col>
      <ion-col col-12 text-center [hidden]="sync.IsCompleted">
        <span class="loadingText">{{sync.currentCalls}} Syncing In Progress</span>
        <span></span>
        <span id="dot1" class="dot"></span>
        <span id="dot2" class="dot"></span>
        <span id="dot3" class="dot"></span>
        <span>({{sync.completedPer}} %)</span>
      </ion-col>
      <ion-col col-12>
        <div class="progressbar">
          <div class="progressbar-bg">
            <div class="progressbar-inner" [style.width]="sync.completedPer + '%'">
              <div class="completed-progressbar"></div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col col-12 [hidden]="!sync.IsCompleted" text-center>
        <button ion-button round (click)="GoToLogin()">Let's Start</button>
      </ion-col>
      <ion-col col-12 [hidden]="!sync.IsError" text-center>
        Something went Wrong while Syncing {{sync.currentCalls}}
      </ion-col>
      <ion-col col-6 [hidden]="!sync.IsError" text-right>
        <button ion-button round>Ok</button>
      </ion-col>
      <ion-col col-6 [hidden]="!sync.IsError">
        <button ion-button round (click)="SyncData()">Try Again</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="sync.IsError">

  </ion-grid>
</ion-content>