<ion-content padding>
	<form #loginForm="ngForm" novalidate>
	  <ion-grid>
		<ion-row>
		  <ion-col col-12 class="HeadText">Welcome</ion-col>
		  <ion-col col-12 style="height: 150px;">
			<img src="assets/img/logo.png" class="LogoImg" alt="AVATAR">
		  </ion-col>
		</ion-row>
		<ion-row>
		  <ion-col  col-6 push-3 push-lg-4 col-lg-4>
			<ion-item>
			  <ion-label stacked>User Name</ion-label>
			  <ion-input [(ngModel)]="login.username" placeholder="User Name" type="text" spellcheck="false" name="username"
				autocapitalize="off">
			  </ion-input>
			</ion-item>
		  </ion-col>
		</ion-row>
		<ion-row>
		  <ion-col col-6 push-3 push-lg-4 col-lg-4>
			<ion-item>
			  <ion-label stacked>Password</ion-label>
			  <ion-input [(ngModel)]="login.password" type="password" placeholder="Password" name="password">
			  </ion-input>
			</ion-item>
		  </ion-col>
		</ion-row>
		<ion-row>
		  <ion-col  col-6 push-3 push-lg-4 col-lg-4>
			<button ion-button (click)="Login(loginForm)" class="ActivateButton" round type="submit" block>Login</button>
		  </ion-col>
		</ion-row>
	  </ion-grid>
	</form>
  </ion-content>