page-dynamicmenu {
    .MenuCard{
        border-radius: 8px;
        border: 2px solid yellowgreen;
        box-shadow: 3px 3px 8px #999; 
        min-height: 230px;
    }
    .MenuImage{
        height: 55px;width: 55px;
    }
    .MenuLink{
        //    color: silver; 
           padding: 2px;
    }
    .MenuLink:hover{
        color: gray;
        background: #e9e9e9;
    }
}
