<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img class="menu-logo" src="assets/img/wow_logo.png" />
    </button>
    <!-- <ion-input class="cardtype" placeholder="Search ..." clearInput></ion-input>
    <ion-buttons end>
      <button ion-button icon-only (click)="openCustomer()">
        <ion-icon name="md-person"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openBarcode()">
        <ion-icon name="md-qr-scanner"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-xs-12 col-sm-12 col-md-6 col-lg-3 *ngFor="let fill of menuBlocks">
        <ion-card class="MenuCard">
          <ion-row padding>
            <img class="MenuImage" src="assets/img/menu/{{fill.mb_Image_Path}}" />
          </ion-row>
          <ion-row padding-horizontal style="font-size: 24px">{{fill.mb_Desc}}</ion-row>
          <ion-row class="MenuLink" padding-left align-itens-center *ngFor="let item of fill.Submenu" (click)='redirectToUrl(item)'>
            <ion-col col-1 text-right>
              <ion-icon name="arrow-dropright"></ion-icon>
            </ion-col>
            <ion-col col-11>
              {{item.ourl_URL_Caption}}
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<commonfooter></commonfooter>
