@charset "utf-8";
/* CSS Document */

.dx-datagrid-header-panel{ width:100%;}
.dx-theme-generic-typography i{ font-size:18px;}
.dx-datagrid-header-panel .dx-toolbar{ margin-top:10px;}

.report_link_middle{ border:1px solid #ccc; height:40px; margin-top:5px; border-radius:5px;}

.breadcrumb{ margin-bottom:0;  background:none; }
.breadcrumb a{ color:#666;}

.report_link_list_container{ padding-right:0;}

.dx-button-has-text .dx-button-content{ padding:0;}

/*.dx-button-has-icon .dx-button-content{ background-color:#35c6bc; border:none; }
.dx-button-has-icon .dx-button-content i{ color:#FFF;}
.dx-button-has-icon .dx-button-content.col_btn{ color:#FFF; background-color:rgba(237,123,35,1.00);}

.dx-toolbar-text-auto-hide .dx-button .dx-icon{ color:#FFF;}*/









