commonfooter {
    .footerBG{
        background: url('../assets/img/bg.jpg') repeat left top;padding: 1px 3px;
    }
    .footerLogo{
        float: left;max-width: 55px;margin-top: 2px;margin-right: 8px;
    }
    .footerVersion{
        float: left;color: #666;  font-size: 14px;  margin-right: 10px;  line-height: 26px;
    }
}
