page-demo-activation {
    .demo-grid{
        margin-top: calc((92vh - 500px)/2);
    }
    .demo-logo{
        ion-col img{
            max-width: 80%;
        }
    }
    .demo-button{
        ion-col button{
            background-color: #57b846;
            height: 60px;
            width: 90%;
            font-size: 20px;
        }
    }
}
