<ion-content>
  <ion-grid text-center class="demo-grid">
    <ion-row class="demo-logo">
      <ion-col>
        <img src="assets/img/logo.png" title="title" alt="alt" />
      </ion-col>
    </ion-row>
    <ion-row class="demo-button">
      <ion-col><button ion-button round float-right (click)="DemoActivation()">Demo</button></ion-col>
      <ion-col><button ion-button round float-left (click)="Activation()">Activation</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<commonfooter></commonfooter>