<ion-content>
  <ion-grid class="filter-menu">
    <ion-row>
      <ion-col col-12 class="group">Favourite</ion-col>
      <ion-col col-12 class="group">Group <ion-icon name="ios-arrow-up" float-right></ion-icon></ion-col>
      <ion-col col-12 class="sub-group">
        <ion-row>
          <ion-col col-12>Sub-Group </ion-col>
          <ion-col col-12>Sub-Group </ion-col>
          <ion-col col-12>Sub-Group </ion-col>
          <ion-col col-12>Sub-Group </ion-col>
          <ion-col col-12>Sub-Group </ion-col>
          <ion-col col-12>Sub-Group </ion-col>
          <ion-col col-12>Sub-Group </ion-col>
          <ion-col col-12>Sub-Group </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>