page-filter {
    ion-content{
        background-color: rgba(232, 76, 61, 0.2)!important;
        padding: 5px 0 5px 5px;
    }
    .filter-menu{
        ion-row{
            ion-col.group{
                background-color:rgba(232, 76, 61, 1);
                padding: 10px!important;
                border: 1px solid white;
            }
            ion-col{
                padding: 0;
                color: white;
                ion-row{
                    ion-col{
                        padding: 10px!important;
                        border: 1px solid white;
                        background-color:#ed7064;
                    }
                }
            }
        }
    }
    .popover-md .popover-content{
        background-color: transparent!important;
    }

}
