<ion-content>
  <ion-grid text-center class="item-summary">
    <ion-row class="item-detail">
      <ion-col col-8>
        <ion-row>
          <ion-col col-12>
            <img src="assets/img/cards.jpg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{name}}</ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-4>
        <span class="title">Stock</span>
        <span class="value">{{product_stock}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="item-btns">
    <ion-row class="input-text">
      <ion-col col-10>
        <ion-input full placeholder="Amount" type="text" clearInput id="paymentid" [(ngModel)]="value" #AmountInput min=0 autofocus></ion-input>
      </ion-col>
      <ion-col col-2>
        <button ion-button float-right>%</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="button-col">
        <button ion-button full (click)="rate()">Retail Price</button>
        <button ion-button full (click)="removeProductFromCart()">Void</button>
        <button ion-button full disabled>Comment</button>
        <button ion-button full disabled>Free</button>
      </ion-col>
      <ion-col col-6 class="button-col">
        <button ion-button full (click)="item_disc()">Product Discount</button>
        <button ion-button full (click)="doc_disc()">Document Discount</button>
        <button ion-button full (click)="changeQuantity(1)">Quantity</button>
        <button ion-button full (click)="closeEdit()">Back</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>