page-edit {
  .item-summary{
    background-color: rgba(232, 76, 61, 0.1);
    color: #e84c3d;
    
    .item-detail{
      min-height: 70px;
      ion-col{
        .title{display: block;font-weight: 400;}
        .value{display: block;font-weight: bolder;font-size: 18px;}
      }
    }
  }
  .item-btns{
    button{
      background-color: #e84c3d;
      border: 1px solid #e84c3d;

    }
    button:hover{
      background-color: white!important;
      border: 1px solid #e84c3d;
      color: #e84c3d;
    }
    .input-text{
      ion-input{
        border: 1px solid #e84c3d;
        input{
          padding: 9px;
          margin: 0;
          font-size: 18px;
        }
      }
      button{
        margin-top: 0;
        height: 40px;
        background-color: #e84c3d;
      }
    }
  }
}