page-cart {
  .header-item{
    ion-item{
      background-color: transparent;
      .item-inner{
        border: 0!important;
      }
    }
  }
  .sales-summary{
    color: #666;
    .sales-summary-header{
      background-color: rgba(232, 76, 61, 0.8);
      color: white;
      margin-right: -5px;
      font-weight: bolder;
      ion-col{
        padding: 10px 5px;
      }
    }
    .sales-summary-body{
      height: calc(100vh - 290px);
      overflow-y: scroll;
      margin-right:-5px; 
      .sales-summary-row{
        ion-col{
          padding: 10px 5px;
        }
      }
      .sales-summary-row:nth-child(even){
        background-color:rgba(232, 76, 61, 0.1);
      }
    }
  }
  .sales-summary-total{
    font-weight: bolder;
    color: white;
    background-color: rgba(232, 76, 61, 0.8);
  }
  .footer-action{
    background-color: rgba(232, 76, 61, 1);
    color:white;
    font-size: 20px;
    ion-col{
      border-right: 1px solid white;
    }
  }
  .input-text{
    margin-right: -5px;
    ion-input,ion-textarea{
      border: 1px solid rgba(232, 76, 61, 0.5);
      padding: 0;
      margin-bottom: 5px;
    }
  }
}