<ion-header>
  <!-- <ion-navbar>
    <ion-title>SALES-SUMMARY</ion-title>
    <ion-buttons end class="header-item">
      <ion-item>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-buttons>
  </ion-navbar> -->
  <section class="footer-bill" text-center>
      <ion-row>
        <ion-col col-2>Count
          <span>10</span>
        </ion-col>
        <ion-col col-2 (click)="closeCart()">Quantity
          <span>10</span>
        </ion-col>
        <ion-col col-4 (click)="payement()">Total Bill
          <span class="total-biil-amount" style="background-color: #313131;" >10</span>
        </ion-col>
        <ion-col col-2 class="Quantity">Cash
          <span class="icon">
            <!-- <img src="assets/img/quick_cash_icon_red.png"> -->
            <ion-icon name="ios-cash"></ion-icon>
          </span>
        </ion-col>
        <ion-col col-2 class="Quantity">Credit
          <span class="icon">
            <!-- <img src="assets/img/Shape-1-copy.png"> -->
            <ion-icon name="md-card"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
    </section>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="input-text">
      <ion-col col-12 no-padding>
        <ion-input full placeholder="Customer Name" clearInput></ion-input>
      </ion-col>
      <ion-col col-12 no-padding>
        <ion-textarea full placeholder="Address" clearInput></ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid text-center class="sales-summary">
    <ion-row class="sales-summary-header">
        <ion-col col-5>ITEM</ion-col><ion-col col-2>QTY</ion-col><ion-col col-2 text-right>PRICE</ion-col><ion-col col-3 text-right>AMOUNT</ion-col>
    </ion-row>
    <ion-row class="sales-summary-body">
      <ion-col no-padding>
        <ion-row class="sales-summary-row" *ngFor="let item of arrayOne(28); let i = index;">
          <ion-col col-5>Product Name {{i}}</ion-col><ion-col col-2>{{1+i}}</ion-col><ion-col col-2 text-right>{{9+i}}</ion-col><ion-col col-3 text-right>{{(1+i)*(9+i)}}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="sales-summary-total">
      <ion-col col-7 text-left>Total</ion-col><ion-col col-2 text-right>101</ion-col><ion-col col-3 text-right>2548</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <section class="footer-action" text-center>
    <ion-row>
      <ion-col col-4 class="">
          <ion-icon name="md-folder"></ion-icon>
      </ion-col>
      <ion-col col-4 class="">
          <ion-icon name="ios-cash"></ion-icon>
      </ion-col>
      <ion-col col-4 class="">
          <ion-icon name="md-card"></ion-icon>
      </ion-col>
    </ion-row>
  </section>
</ion-footer>