<ion-content no-padding>
  <div class="customer-details">
    <button float-right class="logout-close" (click)="logoutClose()">
      <ion-icon name="close"></ion-icon>
    </button>
    <ion-row>
      <ion-col col-12 text-center>
        <div class="customer-image">
          <img src="assets/img/avatar.png" title="Customer Name" alt="Customer Name" />
        </div>
        <div class="customer-social">
          <ion-row>
            <ion-col col-6><button ion-button>
                <ion-icon name="logo-facebook" class="cust-facebook"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-6><button ion-button>
                <ion-icon name="logo-twitter" class="cust-twitter"></ion-icon>
              </button></ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-row>
          <ion-col text-center class="customer-name">
            <h1 no-margin>{{username}}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <ion-icon name="ios-call"></ion-icon> Contact :
          </ion-col>
          <ion-col col-8>+91 9876543210</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <ion-icon name="ios-mail"></ion-icon> Email :
          </ion-col>
          <ion-col col-8>info@wovvipos.com</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <ion-icon name="ios-calendar"></ion-icon> DOB :
          </ion-col>
          <ion-col col-8>11 Dec, 2018</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <ion-icon name="md-home"></ion-icon> Address :
          </ion-col>
          <ion-col col-8> Vadodara.</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-right>
        <button style="background-color: #3eb6ae;" ion-button (click)="redirectTo('resetPassword')">Reset Password</button>
        <button style="background-color: #f7941d;" ion-button (click)="logout()">Logout</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>