page-profile {
    ion-content{
        background-color: transparent!important;
    }
    .customer-details{
        background-color: white;
        border-radius: 8px;
        box-shadow: 3px 3px 8px #999;
        transition: 0.3s;
        overflow: hidden;
        padding: 10px;
        z-index: 3;
        width: 100%;
        // height: 200px;
        color: #5c5c5c;
        border: 2px solid #90be44;
      
        .customer-social button{
          background-color: #90be44;
          font-size: 18px;
          color: white;
      }
       .customer-name{
         border-bottom: 1px solid #90be44;
       } 
      }
      .scroll-content{
          overflow: hidden;
          padding:0!important;
      }
      .logout-close{
        background-color: #90be44;
        color:white;
        border-radius: 0 10px 0 50px;
        padding: 8px 8px 13px 14px;
        margin-top:-12px;
        margin-right: -12px;
        font-weight: bolder;
        font-size: 16px;
      }
      

}
