<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img class="menu-logo" src="assets/img/wow_logo.png" />
    </button>
    <ion-input class="cardtype" placeholder="Search ..." clearInput></ion-input>
    <ion-buttons end>
      <button ion-button icon-only (click)="openCustomer()">
        <ion-icon name="md-person"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openBarcode()">
        <ion-icon name="md-qr-scanner"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openFilter($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-container">
    <ion-row>
      <ion-col col-12 class="sales-products">
        <ion-row>
          <ion-col swipeAll class="sal-pro" (swipeleft)="mycat.d_click(cat)" (swiperight)="checkOtherItem(cat)"
            ion-long-press [interval]="400" (onPressStart)="openEdit(cat.prod_Name_Desc,i)" (click)="checkOtherItem(cat)"
            text-center *ngFor="let cat of mycat.cats;let i=index">

            <div class="cart-qnt-div">
              <a class="cart-qnt" *ngIf="getQuantity(cat) > 0">{{getQuantity(cat)}}</a>
            </div>
            <div class="sal-pro-img">
              <img *ngIf="cat.prod_Image_Path" src="{{image_url}}{{cat.prod_Image_Path}}" onerror="this.onerror=null;this.src='assets/img/logogray.png';">
              <img *ngIf="!cat.prod_Image_Path" src="../../assets/products/58645635897895_plastic_bag_15.jpg" onerror="this.onerror=null;this.src='assets/img/logogray.png';" />
            </div>
            <div class="sal-pro-title">
              <p title="{{cat.prod_Name_Desc}}">{{cat.prod_Name_Desc}}</p>
            </div>
            <div class="sal-pro-price">
              <p>
                <span class="sal-pro-price-old">{{currencySymbol}} {{cat.prod_MRP}}</span>
                <span class="sal-pro-price-new">{{currencySymbol}} {{cat.prod_Price}}</span>
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <section class="footer-bill" text-center>
    <ion-row>
      <ion-col col-2>Count
        <span>{{count}}</span>
      </ion-col>
      <!-- <ion-col col-2 (click)="openCart()">Quantity -->
      <ion-col col-2>Quantity
        <span *ngIf="mycat.drl_obj[0]">{{mycat.drl_obj[0].oh_Doc_Item_Qty}}</span>
        <span *ngIf="!mycat.drl_obj[0]">0</span>
      </ion-col>
      <!-- (click)="payement()" -->
      <ion-col col-4 (click)="b2()" *ngIf="mycat.drl_obj[0]" swipeAll (swipeup)="swipeUp($event)">Total Bill
        <span class="total-biil-amount" style="background-color: #313131;" *ngIf="mycat.drl_obj[0]">{{currencySymbol}}&nbsp;{{mycat.drl_obj[0].oh_Doc_Net_Amt}}</span>
        <span class="total-biil-amount" style="background-color: #313131;" *ngIf="!mycat.drl_obj[0]">{{currencySymbol}}&nbsp;0</span>
      </ion-col>
      <ion-col col-2 class="Quantity" aria-disabled="true">Cash
        <span class="icon">
          <!-- <img src="assets/img/quick_cash_icon_red.png"> -->
          <ion-icon name="ios-cash"></ion-icon>
        </span>
      </ion-col>
      <ion-col col-2 class="Quantity" aria-disabled="true">Credit
        <span class="icon">
          <!-- <img src="assets/img/Shape-1-copy.png"> -->
          <ion-icon name="md-card"></ion-icon>
        </span>
      </ion-col>
    </ion-row>
  </section>
</ion-footer>