page-home {
    .ion-container {
        margin-right: auto;
        margin-left: auto;
        width: 99%;
        padding: 0;
        overflow: hidden;
        color: #666;
    }
    p {margin: 0;padding: 0;}
    .sales-products {
        min-height: 40px;
        overflow-y: scroll;
        background-color: #FFF;
        margin: auto;
        position: absolute;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .sal-pro {
        box-shadow: 3px 3px 8px #999;
        float: left;
        width: 148px;
        height: 180px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #FFF;
        margin-bottom: 10px;
        cursor: pointer;
        margin: 10px auto;
        contain: initial !important;
    }
    .cart-qnt-div {
        height: 0;
    }
    .sal-pro .cart-qnt {
        display: block;
        float: right;
        top: -12px;
        right: -12px;
        height: 24px;
        margin-top: -24px;
        margin-right: -20px;
        text-align: center;
        color: white !important;
        background-color: #e84c3d;
        padding: 2px 8px 5px;
        border-radius: 12px 12px 12px 0px;
        font-weight: bold;
    } 
    .sal-pro-img {
        height: 120px;
        width: 130px;
        text-align: center;
        vertical-align: middle;
        display: flex;
        margin: auto;
    }
    .sal-pro-img img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 104px;
        margin: auto;
    }
    .sal-pro-title {
        width: 100%;
        height: 32px;
        font-size: 12px;
        font-weight: bold;
        overflow: hidden;
    }
    .sal-pro-price {
        width: 100%;
        height: 18px;
        font-size: 14px;
        overflow: hidden;
    }
    .sal-pro-price p .sal-pro-price-old {
        float: left;
        color: #999;
        text-decoration: line-through;
        font-style: italic;
    }
    .sal-pro-price p .sal-pro-price-new {
        float: right;
        font-weight: bold;
    }

}
