commonheader {
  .selectDashOption {
    text-align: left;
    padding: 7px 5px 7px 8px;
    max-width: unset;
  }
  .badge-notification{
    position: absolute;
    bottom: 0;
    background-color: #f86a2b;
    color: #FFF;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    z-index: 1;
  }
}
