
<ion-navbar>
  <button ion-button menuToggle>
    <img class="menu-logo" src="assets/img/wow_logo.png" />
  </button>
  <ion-input class="cardtype" placeholder="Search ..." clearInput></ion-input>
  <ion-buttons end>
    <button ion-button icon-only (click)="openCustomer()">
      <ion-icon name="md-person"></ion-icon>
    </button>
    <button ion-button icon-only (click)="openBarcode()">
      <ion-icon name="md-qr-scanner"></ion-icon>
    </button>
    <button ion-button icon-only>
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
