page-notification {
    .notification-body{
        padding: 10px;
    }
    .notification-body .po-list:first-child{
        border-radius: 8px 8px 0 0;
    }
    .notification-body .po-list:last-child{
        border-radius: 0 0 8px 8px;
    }
    .notification-body .po-list{
        border:1px solid #dddddd;
        padding: 5px 11px;
        cursor: pointer;
    }
    .notification-body .po-list:hover{
        box-shadow: 0 0 5px #666666;
    }
    .notification-body{
        height: 200px;
        overflow-y: scroll;
    }
}
