<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><h4>Notification <ion-icon name="notifications" color="secondary" float-right (click)="notifiactionClose()"></ion-icon></h4></ion-col>
    </ion-row>
    <div class="notification-body">
      <ion-row class="po-list">
        <ion-col>
            <h5 no-margin>PO </h5>
            <p no-margin>Blakemore Wholesale of New Order(2510) for $3480.48</p>
        </ion-col>
      </ion-row>
      <ion-row class="po-list">
        <ion-col>
          <h5 no-margin>PO </h5>
          <p no-margin>Blakemore Wholesale of New Order(2510) for $3480.48</p>
        </ion-col>
      </ion-row>
      <ion-row class="po-list">
        <ion-col>
          <h5 no-margin>PO </h5>
          <p no-margin>Costco UK of New Order(2511) for $875.00</p>
        </ion-col>
      </ion-row>
      <ion-row class="po-list">
        <ion-col>
          <h5 no-margin>PO </h5>
          <p no-margin>Amy Mason of New Order(2512) for $4758.12</p>
        </ion-col>
      </ion-row>
      <ion-row class="po-list">
        <ion-col>
          <h5 no-margin>New Supplier</h5>
          <p no-margin>VW Transporter Supplier Added</p>
        </ion-col>
      </ion-row>
      <ion-row class="po-list">
        <ion-col>
          <h5 no-margin>New Supplier</h5>
          <p no-margin>JJ Food Service Supplier Added</p>
        </ion-col>
      </ion-row>
      <ion-row class="po-list">
        <ion-col>
          <h5 no-margin>New Customer</h5>
          <p no-margin>Henry H. Arnold Customer Added</p>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col>
        <button  (click)="notifiactionClose()" ion-button float-right>Close</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
