<ion-header>
  <commonheader></commonheader>
</ion-header>
<ion-content padding>
  <ion-card padding class="mainBox">
    <!-- <ion-list radio-group [(ngModel)]="global_search" class="selectOption" text-wrap>
      <ion-item no-lines>
        <ion-label class="labelText"> Search Customer
          <p>(Name, Address, Mobile Number, Membership id or customer id ) </p>
        </ion-label>
        <ion-radio value="customer_search" checked></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label class="labelText">Search Jobcard</ion-label>
        <ion-radio value="invoice_search"></ion-radio>
      </ion-item>
    </ion-list> -->
    <ion-list *ngIf="searchInput">
      <ion-item *ngFor="let item of searchItem" (click)="moveToDashboard(item.party_Name)">
        {{item.party_Name}}
      </ion-item>
    </ion-list>
    <div class="autocomplete">
      <ion-searchbar [(ngModel)]="searchInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)"
        (keyup.enter)="gotoJobcart($event)" mode="ios" placeholder="Search Customer (Name, Address, Mobile Number, Membership id or customer id ) ">
      </ion-searchbar>
    </div>
    <ion-row>
      <ion-col col-4>
        <button ion-button round class="searchButton" color="facebook" full (click)='CreateSalesInvoice()'> Sales
          Invoice
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button round class="searchButton" color="facebook" full (click)="AddNewCustomer()"> Add New
          Customer
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button round class="searchButton" (click)="openTransactionDashboard()" color="facebook" full>
          Dashboard
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card padding class="mainBox">
    <div text-wrap class="helpText">
      <h1><b>Getting Started</b></h1>
      <div>
        <p> 1. Help me to create a new customer and create a new order &nbsp;&nbsp; <b> <span style="color:blue">Start
              Tour</span> </b> &nbsp; <ion-icon name="share-alt" color="facebook"></ion-icon> &nbsp; <ion-icon name="videocam"
            color="facebook"></ion-icon>
        </p>
      </div>
      <div>
        <p> 2. Help me understand how to deliver garments post processing. &nbsp;&nbsp; <b> <span style="color:blue">Start
              Tour</span> </b> &nbsp; <ion-icon name="share-alt" color="facebook"></ion-icon> &nbsp;<ion-icon name="videocam"
            color="facebook"></ion-icon>
        </p>
        <p> 3. Help me to connect to support team for technical assistance &nbsp;&nbsp; <b> <span style="color:blue">Start
              Tour</span> </b> &nbsp; <ion-icon name="share-alt" color="facebook"></ion-icon> &nbsp; <ion-icon name="videocam"
            color="facebook"></ion-icon>
        </p>
      </div>
    </div>
  </ion-card>
</ion-content>
<commonfooter></commonfooter>