page-salesearch {
    .mainBox {
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: 1px 1px 8px #999, ;
        background-color: #fafafa;
        border: 1px solid #999;
    }

    ion-item {
        border-radius: 10px;
    }

    .selectOption {
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #ccc;
    }

    .helpText {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    p {
        font-size: 16px !important;
    }

    .autocomplete {

        // width: 100%;
        ion-list {
            position: absolute;
            width: 64%;
            overflow-y: scroll;
            max-height: 150%;
            z-index: 999;

            ion-item:hover {
                cursor: pointer;
                background: #f1f1f1
            }
        }
    }
}