page-customer {
    .customer-img{
        img{
            max-height: 120px;
            max-width: 120px;
        }
    }
    .customer-name{
        h5{
            border-bottom: 1px solid #d1d1d1;
        }
    }
    .customer-social{
        button{
            ion-icon{
                font-size: 18px;
            }
            background-color: #e84c3d;
        }
    }
    .customer-detail{
        ion-col{
            ion-icon{
                font-size: 18px;
                vertical-align: top;
            }
            border-bottom:1px solid #d1d1d1;
            padding-bottom: 10px;
            padding-top: 10px;
        }
        .cust-detail-title{
            font-weight: bold;
            border-bottom:1px solid #aaaaaa;
        }
    }
    .payment-btns{
        .input-text{
          ion-input{
            border: 1px solid rgba(232, 76, 61, 0.5);
            padding: 0 10px;
          }
        }
        .button-col{
          padding-top: 0px;
          button{margin-left: 0;
            background-color: #e84c3d;
            border:1px solid #e84c3d;
          }
          button:hover{
            border:1px solid #e84c3d;
            background-color: white!important;
            color:#e84c3d; 
          }
        }
    }
}
