<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img class="menu-logo" src="assets/img/wow_logo.png" />
    </button>
      <ion-input class="cardtype" placeholder="Search ..." clearInput></ion-input>
    <ion-buttons end>
      <button ion-button icon-only (click)="openBarcode()">
        <ion-icon name="md-qr-scanner"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content swipeAll (swipedown)="swipeDown($event)">
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center class="customer-img">
        <img src="assets/img/avatar.png" />
      </ion-col>
      <ion-col class="customer-social" col-6><button ion-button float-right><ion-icon name="logo-facebook"></ion-icon></button></ion-col>
      <ion-col class="customer-social" col-6><button ion-button float-left><ion-icon name="logo-twitter"></ion-icon></button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="customer-name" text-center>
        <h5>Dhavalbhai</h5>
      </ion-col>
    </ion-row>
    <ion-row class="customer-detail"><ion-col class="cust-detail-title" col-4 text-left><ion-icon name="ios-call"></ion-icon> Contact</ion-col><ion-col col-8 text-right>8460548525</ion-col></ion-row>
    <ion-row class="customer-detail"><ion-col class="cust-detail-title" col-4 text-left><ion-icon name="ios-mail"></ion-icon> Email</ion-col><ion-col col-8 text-right>info@wovvtech.com</ion-col></ion-row>
    <ion-row class="customer-detail"><ion-col class="cust-detail-title" col-4 text-left><ion-icon name="md-calendar"></ion-icon> DOB</ion-col><ion-col col-8 text-right>22nd Sep 1997</ion-col></ion-row>
    <ion-row class="customer-detail"><ion-col class="cust-detail-title" col-4 text-left><ion-icon name="md-home"></ion-icon> Address</ion-col><ion-col col-8 text-right>Lorem Ipsum is simply dummy text of the printing and typesetting industry</ion-col></ion-row>
  </ion-grid>
  <ion-grid class="payment-btns">
    <ion-row class="input-text">
      <ion-col col-12>
        <ion-input full placeholder="Amount" type="number" clearInput></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="button-col">
        <button ion-button full>Change </button>
      </ion-col>
      <ion-col col-6 class="button-col">
        <button ion-button full (click)="closePayment()"><ion-icon name="ios-return-left-outline"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <section class="footer-bill" text-center>
    <ion-row>
      <ion-col col-2>Count
        <span>10</span>
      </ion-col>
      <ion-col col-2 (click)="openCart()">Quantity
        <span>10</span>
      </ion-col>
      <ion-col col-4 (click)="payement()" swipeAll (swipeup)="swipeUp($event)" >Total Bill
        <span class="total-biil-amount" style="background-color: #313131;" >10</span>
      </ion-col>
      <ion-col col-2 class="Quantity">Cash
        <span class="icon">
          <!-- <img src="assets/img/quick_cash_icon_red.png"> -->
          <ion-icon name="ios-cash"></ion-icon>
        </span>
      </ion-col>
      <ion-col col-2 class="Quantity">Credit
        <span class="icon">
          <!-- <img src="assets/img/Shape-1-copy.png"> -->
          <ion-icon name="md-card"></ion-icon>
        </span>
      </ion-col>
    </ion-row>
  </section>
</ion-footer>