page-payment {
  .payment-summary{
    background-color: #4db0d0;
    color: white;
    background-color: rgba(232, 76, 61, 0.1);
    color: #e84c3d;
    .amount-detail{
      min-height: 70px;
      ion-col{
        .title{display: block;font-weight: 400;}
        .value{display: block;font-weight: bolder;font-size: 18px;}
      }
    }
    .payment-status{
      width: 100%;
      padding: 10px 0;
      height: 85px;
      white-space: nowrap; 
      overflow-x: auto;
      overflow-y: hidden;
  }
  .pay-status{
      width: 150px;
      height: 70px;
      border-radius: 8px;
      display: inline-block;
      background-color:rgba(232, 76, 61, 0.1);
      text-align: right;
      margin-right: 10px;
  }
  .pay-status .pay-status-title{
      padding: 10px;
      height: 30px;
  }
  .pay-status .pay-status-title h5{
      padding: 0;margin: 0;
      font-size: 18px;
      font-weight: normal;
      vertical-align: top;
  }
  .pay-status .pay-status-amount{
      background-color:rgba(232, 76, 61, 1);
      color: white;
      bottom: 0px;
      padding: 2px 15px;
      border-radius: 0 0 8px 8px;
  }
  .pay-status .pay-status-amount span{
      font-size: 15px;
  }
  .pay-status span.close{
      background-color: rgba(232, 76, 61, 1);
      color: white;
      padding:2px 4px 1px 5px;
      text-align: center;
      border-radius: 10px;
      font-size: 10px;
      position: relative;
      top: -7px;
      right: -7px;
  }

  }
  .payment-btns{
    .input-text{
      ion-input{
        border: 1px solid rgba(232, 76, 61, 0.5);
        padding: 0 10px;
      }
    }
    .button-col{
      padding-top: 0px;
      button{margin-left: 0;margin-right: -5px;
        background-color: #e84c3d;
        border:1px solid #e84c3d;
      }
      button:hover{
        border:1px solid #e84c3d;
        background-color: white!important;
        color:#e84c3d; 
      }
      height: calc(100vh - 300px);
      overflow-y: scroll;
    }
  }
  .footer-action{
    background-color: rgba(232, 76, 61, 1);
    color:white;
    font-size: 20px;
    ion-col{
      border-right: 1px solid white;
    }
  }
  .input-text{
    margin-right: -5px;
    ion-input,ion-textarea{
      border: 1px solid rgba(232, 76, 61, 0.5);
      padding: 0;
      margin-bottom: 5px;
    }
  }
}
  