<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img class="menu-logo" src="assets/img/wow_logo.png" />
    </button>
    <!-- <ion-input class="cardtype" placeholder="Search ..." clearInput></ion-input> -->
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="ShowPartyList()">
        <ion-icon name="md-person"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openBarcode()">
        <ion-icon name="md-qr-scanner"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid text-center class="payment-summary">
    <ion-row class="amount-detail">
      <ion-col col-4><span class="title">Net Amount</span><span class="value">{{mycat.drl_obj[0].oh_Doc_Net_Amt}}</span></ion-col>
      <ion-col col-4><span class="title">Received</span><span class="value">{{getAmt()}}</span></ion-col>
      <ion-col col-4><span class="title">Due</span><span class="value">{{diff()}}</span></ion-col>
    </ion-row>
    <ion-row class="pay-amount">
      <ion-col>
        <div class="payment-status">
          <div class="pay-status" *ngFor="let pm of mycat.owt_Pay_Hdr_Code">
            <span class="close" (click)="mycat.delete_payment(pm)">
              <ion-icon name="close"></ion-icon>
            </span>
            <div class="pay-status-title">
              <h5>{{mycat.getType(pm.pay_Type_Code)}}</h5>
            </div>
            <div class="pay-status-amount">
              <span>{{pm.opay_Paid_VAl}}</span>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="payment-btns">
    <ion-row class="input-text">
      <ion-col col-12>
        <ion-input full placeholder="Amount" type="number" clearInput id="paymentid" [(ngModel)]="value" min=0 autofocus></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="button-col">
        <button ion-button full *ngFor="let pr of paymentTypeShow" (click)="addTyp(pr.pay_Typ_Id,pr.pay_Typ_Name,pr.pay_Mode_Code,pr.pay_Mode_Name,pr.pay_Typ_Name)">{{pr.pay_Typ_Name}}</button>
      </ion-col>
      <ion-col col-6 class="button-col">
        <button ion-button full (click)="closePayment()"><ion-icon name="ios-return-left-outline"></ion-icon></button>
        <button ion-button full [disabled]="diff()<=0" (click)="exact()">EXACT</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <!-- <section class="footer-bill" text-center>
    <ion-row>
      <ion-col col-2>Count
        <span>{{count}}</span>
      </ion-col>
      <ion-col col-2 (click)="openCart()">Quantity
        <span *ngIf="mycat.drl_obj[0]">{{mycat.drl_obj[0].oh_Doc_Item_Qty}}</span>
        <span *ngIf="!mycat.drl_obj[0]">0</span>
      </ion-col>
      <ion-col col-4  (click)="b2()" *ngIf="mycat.drl_obj[0]" swipeAll (swipeup)="closePayment()">Total Bill
        <span class="total-biil-amount" style="background-color: #313131;" *ngIf="mycat.drl_obj[0]">{{currencySymbol}}&nbsp;{{mycat.drl_obj[0].oh_Doc_Net_Amt}}</span>
        <span class="total-biil-amount" style="background-color: #313131;" *ngIf="!mycat.drl_obj[0]">{{currencySymbol}}&nbsp;0</span>
      </ion-col>
      <ion-col col-2 class="Quantity">Cash
        <span class="icon">
          <!-- <img src="assets/img/quick_cash_icon_red.png"> -->
          <!-- <ion-icon name="ios-cash"></ion-icon>
        </span>
      </ion-col>
      <ion-col col-2 class="Quantity">Credit
        <span class="icon"> -->
          <!-- <img src="assets/img/Shape-1-copy.png"> -->
          <!-- <ion-icon name="md-card"></ion-icon>
        </span>
      </ion-col>
    </ion-row>
  </section> -->
  <section class="footer-action" text-center>
    <ion-row>
      <ion-col col-4 class="">
          <ion-icon name="md-folder"></ion-icon>
      </ion-col>
      <ion-col col-4 class="">
          <ion-icon name="ios-cash"></ion-icon>
      </ion-col>
      <ion-col col-4 class="">
          <ion-icon name="md-card" (click)="save()" title="Save"></ion-icon>
      </ion-col>
    </ion-row>
  </section>
</ion-footer>