<ion-menu [content]="content" no-padding>   
  <ion-content no-padding>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-12 no-padding class="header-back-img">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 class="cust-logo">
          <div>
            <img src="assets/img/wow_logo.png" />
          </div>
        </ion-col>
        <ion-col col-8  class="cust-title">
          <h5>{{username}}</h5>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list class="menu-list">
      <button menuClose ion-item (click)="openPage('dashboard')">Home
        <ion-icon item-left name="ios-cash"></ion-icon>
      </button>
      <button menuClose ion-item (click)="openPage('home')">Clear Cart
        <ion-icon item-left name="cart"></ion-icon>
      </button>
      <button menuClose ion-item (click)="openPage('home')">Duplicate Print
        <ion-icon item-left name="md-copy"></ion-icon>
      </button>
      <button menuClose ion-item (click)="openPage('home')">Bill History
        <ion-icon item-left name="md-list"></ion-icon>
      </button>
      <button menuClose ion-item (click)="openPage('home')">Profile of the day
        <ion-icon item-left name="md-bookmarks"></ion-icon>
      </button>
      <button menuClose ion-item (click)="openPage('home')">About App
        <ion-icon item-left name="ios-information-circle-outline"></ion-icon>
      </button>
      <button menuClose ion-item (click)="logout()">Log Out
        <ion-icon item-left name="ios-log-out"></ion-icon>
      </button>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="today-selling">
            <h5>Today's Selling</h5>
            <span><span class="today-sel-amount">$</span> 4532</span>
            <small>Tap here to view Statastics</small>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <!-- <ion-footer>
    <ion-row class="footer-row">
      <ion-col class="footer-logo" text-left><img src="assets/img/wow_logo.png"></ion-col>
      <ion-col class="footer-ver" text-right>Mob-Ipos 0.0</ion-col>
    </ion-row>
  </ion-footer> -->
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>