.footer-row{
  width: 100%;
  background-color: #f8f8f8;
  color:#424242;
  .footer-logo{
    img{
      height: 20px;
      width: auto;
    }
  }
  .footer-ver{font-size: 12px;vertical-align: bottom;font-weight: bolder;padding-top:10px;}
}
.menu-logo{
  height: 20px;
  width: auto;
}
.footer-bill{
  background-color: #e84c3d;
  color: white;
  ion-col{
    font-size: 1.2rem;
  }
  span{
      display: block;
      width: 100%;
      padding: 5px 0;
      background-color: rgba(255,255,255,0.1);
      border-radius: 5px;
      font-size: 16px;
      margin-top: 2px;
  }
  span.icon{
      font-size: 20px;
      padding: 2px 0;
  }
  .total-biil-amount{background-color: #313131;}
}
.header-back-img{
  background-image: url("../assets/img/cards.jpg");
  filter: blur(1px);
  -webkit-filter: blur(1px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
}
.cust-logo{
  div{
    height: 60px;width:60px;
    padding: 5px;
    border: 2px solid #e84c3d;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: -35px;
    border-radius: 10px;
    overflow: hidden;
    line-height: 50px;
    background-color: rgba(255,255,255,0.8);
    img{
      vertical-align: middle!important;
      max-width: 50px;
      width: auto;
      height: auto;
      max-height: 50px;
    }
  }
}
.cust-title{
  h5{margin-top: -20px;
    color:white;
    text-shadow: 0 0 5px black;
  }
}
.menu-list{
  button{
    font-weight: bold;
    font-size: 14px;
    color: rgb(138, 138, 138);
    ion-icon{
      font-weight: normal;
      color: black;
    }
  }
}
.today-selling{
  background-color: rgba(240, 240, 240, 1);
  border-radius: 5px;
  overflow-y: hidden;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  h5{
    font-size: 15px;
    background-color: rgba(228, 228, 228, 1);
    padding: 5px;margin:0;
  }
  span{
    display: block;
    font-size: 30px;
    color: rgb(138, 138, 138);
    padding: 10px;
    .today-sel-amount{
      color: #e84c3d;
      display: inline;
    }
  }
  small{
    display: block;
    padding: 5px;
  }
}
// background-color: #ee796e;
::-webkit-scrollbar {width: 5px;height: 5px;}
::-webkit-scrollbar-track {border-radius: 10px;}
::-webkit-scrollbar-thumb {background: #D9D9D9; border-radius: 10px;}
::-webkit-scrollbar-thumb:hover {background: #666; }