<ion-header>
    <ion-navbar >
      <button ion-button  menuToggle start>
        <ion-icon  name="menu"></ion-icon>
      </button>
      <ion-title class="cardtype">POS </ion-title>
      <ion-buttons end>
      <button ion-button (click)="intro()">
        <ion-icon name="help" style=" font-size: 40px; "></ion-icon>
      </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="intro" style="background-image: url('assets/img/bg.jpg');opacity: 0.5;object-fit: fill;background-size: 100%;">
    <div class="demo-container" style="margin-left:-3%;">
      <div class="intro-header" dx-scroll-view="">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <div class="menu_box clearfix">
                <ul>
                  <li class="no-bullets">
                    <div class="thum menu_thum">
                      <div class="menu_icon font_color_pink">
                        <a href="http://www.fovourite_menu.html">
                          <i class="fa fa-heart" aria-hidden="true"></i>
                          <div class="menu_title"><span>Favourite</span></div>
                        </a>
                      </div>
  
                      <div class="menu_sub">
                        <ul>
                          <li><a href="browse.html"><span>Billing</span></a></li>
                          <li><a href="customer_master.html"><span>Customer</span></a></li>
                          <li><a href="customer_master.html"><span>Product</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
  
                  <li class="no-bullets">
                    <div class="thum menu_thum">
                      <div class="menu_icon font_color_green">
                        <a (click)="outward()">
                          <i class="fa fa-question-circle" aria-hidden="true"></i>
                          <div class="menu_title"><span>Outward</span></div>
                        </a>
                      </div>
  
                      <div class="menu_sub">
                        <ul>
                          <li><a href="browse.html"><span>Billing</span></a></li>
                          <li><a href="customer_master.html"><span>Salesman</span></a></li>
                          <li><a href="#"><span>Refund</span></a></li>
                        </ul>
                      </div>
                      <div class="menu_more"><a href="outward_menu.html"><span>More</span></a></div>
                    </div>
                  </li>
  
                  <li class="no-bullets">
                    <div class="thum menu_thum">
                      <div class="menu_icon font_color_orange">
                        <a (click)="cus()">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          <div class="menu_title"><span>Customer</span></div>
                        </a>
                      </div>
  
                      <div class="menu_sub">
                        <ul>
                          <li><a (click)="getrecs()" ><span>Membership</span></a></li>
  
                        </ul>
                      </div>
                    </div>
                  </li>
  
                  <li class="no-bullets">
                    <div class="thum menu_thum">
                      <div class="menu_icon font_color_blue">
                        <a (click)="pro()">
                          <i class="fa fa-cube" aria-hidden="true"></i>
                          <div class="menu_title"><span>Product</span></div>
                        </a>
                      </div>
  
                      <div class="menu_sub">
                        <ul>
                          <li><a href="#"><span>Product</span></a></li>
                          <li><a href="#"><span>Brand</span></a></li>
                          <li><a href="#"><span>Group</span></a></li>
                        </ul>
                      </div>
                      <div class="menu_more"><a href="product_menu.html"><span>More</span></a></div>
  
                    </div>
                  </li>
                  <li class="no-bullets">
                    <div class="thum menu_thum">
                      <div class="menu_icon font_color_dark_green">
                        <a >
                          <i class="fa fa-cog" aria-hidden="true"></i>
                          <div (click)="testbt()" class="menu_title"><span>Inventory</span></div>
                        </a>
                      </div>
  
                      <div class="menu_sub">
                        <ul>
                          <li><a href="#"><span>Price Update</span></a></li>
                          <li><a href="#"><span>Supplier</span></a></li>
                          <li><a href="#"><span>UOM</span></a></li>
                        </ul>
                      </div>
  
                    </div>
                  </li>
                  <li class="no-bullets">
                    <div class="thum menu_thum">
                      <div class="menu_icon font_color_yellow">
                        <a href="book_keeping_menu.html">
                          <i class="fa fa-question-circle" aria-hidden="true"></i>
                          <div class="menu_title"><span>Book Keeping</span></div>
                        </a>
                      </div>
  
                      <div class="menu_sub">
                        <ul>
                          <li><a href="#"><span>Receipt</span></a></li>
                          <li><a href="#"><span>Billwise Receipt</span></a></li>
                          <li><a href="#"><span>Payment</span></a></li>
                        </ul>
                      </div>
                      <div class="menu_more"><a href="book_keeping_menu.html"><span>More</span></a></div>
                    </div>
                  </li>
  
                  <li class="no-bullets">
                    <div class="thum menu_thum">
                      <div class="menu_icon font_color_yellow">
                        <a href="business_logic_menu.html">
                          <i class="fa fa-question-circle" aria-hidden="true"></i>
                          <div class="menu_title"><span>Business Logic</span></div>
                        </a>
                      </div>
  
                      <div class="menu_sub">
                        <ul>
                          <li><a href="#"><span> Tax</span></a></li>
                          <li><a href="#"><span>Configuration</span></a></li>
                          <li><a href="#"><span>Security</span></a></li>
                        </ul>
                      </div>
                      <div class="menu_more"><a href="business_logic_menu.html"><span>More</span></a></div>
                    </div>
                  </li>
  
                  <li class="no-bullets">
                    <div class="thum menu_thum">
                      <div class="menu_icon font_color_yellow">
                        <a href="report_customer.html">
                          <i class="fa fa-question-circle" aria-hidden="true"></i>
                          <div class="menu_title"><span>Reports</span></div>
                        </a>
                      </div>
  
                      <div class="menu_sub">
                        <ul>
                          <li><a href="#"><span>Sales Summary</span></a></li>
                          <li><a href="#"><span>Sales Details</span></a></li>
                          <li><a href="#"><span>Customers</span></a></li>
                        </ul>
                      </div>
                      <div class="menu_more"><a href="reports_menu.html"><span>More</span></a></div>
                    </div>
                  </li>
  
                  <li class="no-bullets">
                    <div class="thum menu_thum">
                      <div class="menu_icon font_color_yellow">
                        <a href="tools_menu.html">
                          <i class="fa fa-question-circle" aria-hidden="true"></i>
                          <div class="menu_title"><span>Tools</span></div>
                        </a>
                      </div>
  
                      <div class="menu_sub">
                        <ul>
                          <li><a href="#"><span>Import</span></a></li>
                          <li><a href="#"><span>Export</span></a></li>
                          <li><a href="#"><span>Backup</span></a></li>
                        </ul>
                      </div>
                      <div class="menu_more"><a href="tools_menu.html"><span>More</span></a></div>
                    </div>
                  </li>
  
                  <li class="no-bullets">
                    <div class="thum menu_thum">
                      <div class="menu_icon font_color_yellow">
                        <a href="wovv_guru_menu.html">
                          <i class="fa fa-question-circle" aria-hidden="true"></i>
                          <div class="menu_title"><span>Wovv University</span></div>
                        </a>
                      </div>
  
                      <div class="menu_sub">
                        <ul>
                          <li><a href="#"><span>Training Mode</span></a></li>
                          <li><a href="#"><span>Tutorial</span></a></li>
                          <li><a href="#"><span>Wovv Chat</span></a></li>
                        </ul>
                      </div>
                      <div class="menu_more"><a href="wovv_guru_menu.html"><span>More</span></a></div>
                    </div>
                  </li>
  
                  <li class="no-bullets">
                    <div class="thum menu_thum">
                      <div class="menu_icon font_color_yellow">
                        <a href="super_admin_menu.html">
                          <i class="fa fa-question-circle" aria-hidden="true"></i>
                          <div class="menu_title"><span>Super Admin</span></div>
                        </a>
                      </div>
  
                      <div class="menu_sub">
                        <ul>
                          <li><a href="#"><span>Vertical Master</span></a></li>
                          <li><a href="#"><span>Vertical Vs Product Class</span></a></li>
                          <li><a href="#"><span>Product Class Master</span></a></li>
                        </ul>
                      </div>
                      <div class="menu_more"><a href="super_admin_menu.html"><span>More</span></a></div>
                    </div>
                  </li>
  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  
  </ion-content>