page-schedule {
    $categories: (
            ionic: color($colors, primary),
            angular: #AC282B,
            communication: #8E8D93,
            tooling: #FE4C52,
            services: #FD8B2D,
            design: #FED035,
            workshop: #69BB7B,
            food: #3BC7C4,
            documentation: #B16BE3,
            navigation: #6600CC,
    );
  
    @function auxiliary-categories() {
      @return map-remove($categories);
    }
    .seee {
      max-width: 100% !important;
    }
  
    @each $track, $value in auxiliary-categories() {
      ion-item-sliding[track=#{$track}] ion-label {
        border-left: 2px solid $value;
        padding-left: 10px;
      }
    }
  
    .leftt {
  
      background: white !important;
      display: inline-block !important;
      color: black !important;
      padding: 10px !important;
      border-radius: 10px !important;
      text-align: left !important;
      max-width: 240px !important;
  
    }
  
    .rightt {
  
      background: #dcf8c6 !important;
      display: inline-block;
      color: black !important;
      padding: 20px !important;
      border-radius: 10px !important;
      text-align: right !important;
      max-width: 240px !important;
      clear: right;
      right: 0px;
      position: absolute;
  
    }
    @keyframes wiggle {
      0% {
        transform: rotate(0deg);
      }
      80% {
        transform: rotate(0deg);
      }
      85% {
        transform: rotate(5deg);
      }
      95% {
        transform: rotate(-5deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  
    span.wiggle {
      display: inline-block;
      animation: wiggle 1.5s infinite;
    }
  
    span.wiggle:hover {
      animation: none;
    }
    .modal-body.padding {
      padding: 15px;
    }
    .modal-body.padding a {
      color: #666;
    }
    .select_option li {
      float: left;
      margin-right: 10px;
    }
    svg {
      width: 100% !important;
    }
    .dxc-legend {
      right: 0;
    }
    .demo-container {
      width: 100% !important;
    }
    .widget {
      width: 31.33%;
      margin: 0 1%;
      margin-bottom: 1%;
      float: left;
      min-height: 515px;
    }
    .glyphicon {
      color: #666
    }
    .widget_main_container {
      width: 100%;
      position: relative;
      float: left;
    }
    .widget_container {
      width: 100%;
      padding: 0;
      transition: all 0.5s ease-in-out;
    }
    .widget_container.small_with {
      width: 70%;
    }
    .widget_box {
      position: absolute;
      right: -30%;
      top: 30px;
      width: 28%;
      transition: all 0.5s ease-in-out;
    }
    .widget_box.open {
      right: 0;
    }
    .widget_vertical {
      height: 555px;
    }
    .widget_vertical.left_side {
      height: 585px;
      padding-top: 30px;
    }
    .dx-export-menu {
      position: absolute;
      right: 0;
      top: 0;
    }
    .dx-export-menu-button {
      position: absolute;
      right: 0;
      top: 0;
    }
    .panel-heading {
      padding: 14px 15px;
      border-radius: 0;
    }
    .panel-heading a {
      color: #666;
    }
    h3.panel-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .widget_list {
      margin: 5px;
    }
    .widget_list:first-child {
      margin-top: 0;
    }
    .widget_list:last-child {
      margin-bottom: 0;
    }
    .options {
      display: none;
    }
    .top_btn {
      position: fixed;
      right: 3%;
      width: 99%;
      z-index: 9;
      display: inline-block;
      margin-top: -30px;
      padding: 0;
    }
    .top_btn > h1 {
      margin-top: 5px !important;
    }
    .report_menu_container,
    .report_menu_box {
      height: calc(100vh - 10vh);
    }
  
    .dashboardChartStyle {
      height: calc(100vh - 72vh) !important;
    }
  
    .thum.dashboard_thum {
      min-height: calc(100vh - 72vh) !important;
    }
  
    .report_menu_box li.dash_big {
      margin-bottom: 10px;
    }
  
    .greed_left.bill {
      padding-right: 15px;
    }
    .menu_imfobox {
      height: 322px;
    }
    .menu_box {
      margin-top: 3px;
      margin-bottom: 30px;
    }
    .menu_box li {
      width: 23%;
      margin: 0 1%;
      float: left;
    }
    .menu_box li a:hover {
      color: inherit;
    }
    .menu_grid {
      padding-right: 0;
    }
    .menu_content_verticle {
      overflow: auto;
      position: relative;
      height: 646px;
      max-width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .menu_thum {
      min-height: 230px !important;
      max-height: 230px;
      padding: 2px;
      box-shadow: 3px 3px 8px #b2b2b2;
    }
    .menu_icon {
      text-align: left;
      margin-left: 1%;
      padding-top: 15px;
    }
    .menu_icon i {
      font-size: 60px !important;
    }
    .menu_icon img {
      width: 100%;
      max-width: 55px;
      max-height: 60px;
    }
    .menu_icon a {
      color: inherit;
    }
    .font_color_pink {
      color: #cf3265;
    }
    .font_color_green {
      color: #90be44;
    }
    .font_color_orange {
      color: #f2a42a;
    }
    .font_color_blue {
      color: #2fabd4;
    }
    .font_color_dark_green {
      color: #5caead;
    }
    .font_color_yellow {
      color: #f1c40f;
    }
    .font_color_light_green {
      color: #5ac8c7;
    }
    .font_color_light_blue {
      color: #5ac1ec;
    }
    .font_color_gray {
      color: #999;
    }
    .bg_color_pink {
      background-color: #cf3265;
    }
    .bg_color_orange {
      background-color: #f2a42a !important;
    }
    .bg_color_blue {
      background-color: #2fabd4;
    }
    .bg_color_dark_green {
      background-color: #5caead;
    }
    .bg_color_yellow {
      background-color: #f1c40f;
    }
    .menu_more {
    }
    .menu_more a {
      position: absolute;
      color: #FFF;
      border-radius: 8px 0 7px;
      padding: 3px 8px;
      background-color: #90bd44;
      cursor: pointer;
      right: 0px;
      bottom: 0px;
    }
    .menu_more a:hover {
      color: #FFF !important;
    }
    .menu_more.dark_green a {
      color: #5caead;
    }
    .menu_more.dark_green a:hover {
      color: #5caead;
    }
    .menu_title {
      color: #333;
      font-size: 24px;
      /*margin-left:20px;
      */
      margin-top: 0px;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 98%;
    }
    .menu_sub li {
      padding-left: 20px !important;
      font-size: 16px;
      padding: 3px 0;
      float: none !important;
      width: 100% !important;
      margin: 0;
      cursor: pointer;
    }
    .menu_sub li a {
      background: url(../images/menu_sub_arrow.png) no-repeat left 5px;
      padding-right: 5px;
      padding-left: 12px;
      color: #999;
      display: inline-block;
      width: 98%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .menu_sub li:hover {
      background-color: #e2e2e2;
      overflow: visible;
    }
    .menu_sub li a:hover {
      color: #666 !important;
    }
    .mCSB_scrollTools .mCSB_draggerRail {
      display: none;
    }
    .active_box {
      min-height: 185px;
      position: relative;
      border-radius: 8px;
    }
    .active_box > .menu_icon > .menu_title {
      color: #FFF;
    }
    .active_box > .menu_icon > i {
      color: #FFF;
    }
    .sales_small {
      position: absolute;
      right: 8px;
      bottom: 5px;
      color: #E2E2E2;
    }
    .sales_btn li {
      padding: 7px 0 !important;
      width: 48% !important;
      text-align: center;
      float: left;
      color: #666;
      background: url(../images/sales_border.png) no-repeat right bottom;
      margin-bottom: 0 !important;
    }
    .sales_btn li:last-child {
      background: none;
    }
    .sales_btn li.orange {
      background: url(../images/order_border.png) no-repeat right bottom;
    }
    .sales_btn li a:hover {
      color: #666;
    }
    .sales_btn li a > i {
      font-size: 22px;
      margin-right: 5px;
    }
    .sales_btn li a {
      color: #666;
    }
    .sub_box > .menu_icon {
      margin-left: 0;
      margin-top: 20%;
      text-align: center !important;
    }
    .sub_box > .menu_icon i {
      font-size: 80px;
    }
  
    .intro-header {
      width: 100%;
      /*height: 100%;
       overflow:hidden;*/
      padding: 0;
      position: absolute;
      top: 62px;
      /*height:91%;*/
      /*overflow-y:scroll;*/
      /*color: #fff;*/
      height: calc(100vh - 15vh) !important;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }
    .greed_full {
      padding-left: 0;
      padding-right: 0;
    }
    .greed_left {
      padding-right: 0;
    }
    .greed_right {
      padding-right: 0;
    }
    .greed_left.bill {
      padding-right: 0;
    }
    #toast-container {
      top: 72px;
      right: 20px;
    }
    .thum {
      background-color: rgba(255, 255, 255, 0.6);
      min-height: 216px;
      margin-bottom: 15px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      position: relative;
      box-shadow: 3px 3px 8px #999;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      overflow: hidden;
    }
    .border {
      border: 2px solid #FFF;
    }
    .padding {
      padding: 10px;
    }
    .title {
      /*font-family:Verdana, Geneva, sans-serif;
      */
      font-size: 17px;
      margin-bottom: 8px;
      color: #FFF;
    }
  
    @media (max-width: 864px) {
      .tab-content.margin_top {
        margin-top: unset;
      }
      /*.product_list_ul li {
          height: 150px;
      }*/
      .product_section {
        /*padding-top: unset !important;*/
        width: 100%;
        margin-left: 0;
      }
      .product_detail_section {
        /*padding-top: unset !important; */
        padding-bottom: unset !important;
        width: 100%;
      }
      .bill_detail_section {
        width: 100%;
        padding-top: 94px;
      }
      .btn_key {
        width: 100%;
      }
      #toast-container {
        top: 70px;
        right: 10%;
      }
      .dx-datagrid-header-panel {
        visibility: visible;
        height: 38px;
        border-bottom: none;
      }
      .dx-toolbar {
        width: 100%;
        height: 30px;
      }
      .mobileScrollableTable {
        height: 54vh;
        overflow: auto;
      }
      /*@author Sachin*/
      /*Feb 20 2018*/
      /*new css for mobile*/
      .add_right {
        padding-left: unset !important;
      }
      .add_left {
        width: 44% !important;
      }
      .redfamily {
        color: red;
      }
      .search-box, .close-icon, .search-wrapper {
        position: relative;
        padding: 10px;
      }
      .search-wrapper {
        width: 500px;
        margin: auto;
        margin-top: 50px;
      }
      .search-box {
        width: 80%;
        border: 1px solid #ccc;
        outline: 0;
        border-radius: 15px;
      }
      .search-box:focus {
        box-shadow: 0 0 15px 5px #b0e0ee;
        border: 2px solid #bebede;
      }
      .close-icon {
        border: 1px solid transparent;
        background-color: transparent;
        display: inline-block;
        vertical-align: middle;
        outline: 0;
        cursor: pointer;
      }
      .close-icon:after {
        content: "X";
        display: block;
        width: 105%;
        height: 105%;
        position: absolute;
        background-color: #FA9595;
        z-index: 9999;
        padding: 2px;
        border-radius: 50%;
        text-align: center;
        color: white;
        font-weight: normal;
        font-size: 12px;
        box-shadow: 0 0 2px #E50F0F;
        cursor: pointer;
      }
      .search-box:not(:valid) ~ .close-icon {
        display: none;
      }
      /*end here*/
  
      /*================ 28-02 ====================*/
  
      /*body, html{
          overflow: hidden !important;
      }*/
    }
    @media only screen and (min-width: 600px) and (max-width: 800px) {
      /*-------login_page_new----------*/
      .thum {
        min-height: 140px !important;
      }
      .login_vertical {
        height: 870px !important;
      }
      .thum.store_thum {
        height: 160px !important;
        min-height: 140px;
      }
      .news_thum {
        height: 160px !important;
        margin-bottom: 15px !important;
      }
      .offer_thum {
        height: 160px !important;
      }
      .offer_list {
        height: 78%;
      }
      .client_thum_list ul {
        display: initial !important;
      }
      .client_thum_list li {
        /*margin-top:20px !important;
        */
      }
      .store_location_part,
      .store_find_location {
        margin-top: 42px !important;
      }
      .testimonial_img {
        display: none;
      }
      .login_thum_list li:last-child > .news_thum {
        height: auto !important;
      }
      /*.client_thum_container{
           width:72% !important;
      }
       .client_login{
           position:relative !important;
           width:25.5% !important;
          min-height: 100% !important;
      }
      */
      /*-------login_page_new----------*/
      /*-------workspace page----------*/
      canvas {
        width: 105px;
        margin-top: 0;
      }
      .pie_chart_thum.small {
        width: 70px;
        height: 70px;
        position: absolute;
        left: 0;
      }
      .progress_btn {
        float: right;
        width: 66%;
        margin: 5px 0;
      }
      .tweeter_thum {
        width: 48% !important;
        height: 142px !important;
        float: left !important;
        margin: 0 auto !important;
      }
      .facebook_thum {
        width: 48% !important;
        height: 142px !important;
        float: right !important;
        margin: 0 auto !important;
      }
      .tweet_icon i {
        font-size: 30px !important;
      }
      .tweet_list li {
        float: none;
        width: auto !important;
      }
      .tweet_bottom li {
        width: auto !important;
      }
      .tweet_bottom li:last-child {
        width: auto;
        float: right !important;
        line-height: 30px;
      }
      .tweet_bottom li.big {
        font-size: 38px !important;
      }
      .workspace_thum {
        height: 160px !important;
        padding: 8px !important;
      }
      .workspace_thum > .menu_icon {
        float: left !important;
        padding-top: 0;
      }
      .workspace_thum > .menu_icon i {
        font-size: 50px !important;
      }
      .workspace_thum > .menu_title {
        float: right !important;
        width: 80% !important;
        text-align: left !important;
        margin-top: 12px;
      }
      .workspace_thum > .menu_sub li {
        padding: 1px 0;
        line-height: 19px;
      }
      .client_thum_container.full_with {
        width: 98% !important;
      }
      .client_thum_container.full_with > .client_thum_list li {
        margin-top: 32px !important;
      }
      /*-------workspace page----------*/
    }
    @media only all and (max-width: 768px) {
      /*.table_box, .report_pading{
           margin-top:110px;
      }
      */
      .dx-toolbar-after {
        width: 90%;
      }
      .print_btn {
        right: 278px !important;
      }
  
      .enter_msg {
        display: none;
      }
    }
    @media only screen and (min-width: 600px) and (max-width: 991px) {
  
      .displaying_mobile {
        display: block;
      }
  
      /*-------login_part----------*/
      .tab_img {
        margin-top: 25% !important;
      }
      #quote-carousel {
        margin-top: 0 !important;
      }
      .carousel-indicators {
        width: 48px !important;
      }
      #quote-carousel .carousel-indicators {
        top: -8px;
      }
      #quote-carousel .carousel-indicators li {
        width: 10px !important;
        height: 10px !important;
      }
      .testimonial_img {
        /* width:32% !important;
        */
        display: none;
      }
      .testimonial_text {
        width: 90%;
        margin-left: 5%;
      }
  
      .testimonial_text p {
        margin-bottom: 0;
      }
  
      .carousel-inner blockquote .testimonial_text p {
        line-height: 17px !important;
        font-size: 14px !important;
      }
  
      .item blockquote p::after {
        padding-top: 15px !important;
      }
      .login_box ul.keybord li.last {
        margin-right: 5.3%;
      }
      /* .client_thum_container{
           width:72% !important;
      }*/
      .client_login {
        padding: 3px;
        position: relative !important;
        width: 25.5% !important;
        min-height: 100% !important;
      }
      .client_login_btn_box {
        position: absolute;
      }
      .client_login_btn span {
        font-size: 16px;
      }
      .client_login_btn i {
        width: 100%;
      }
  
      /*=============== 2018-01-25 ==================*/
  
      .keyboard_fix {
        display: none;
      }
  
      .edit_first_col.second {
        width: 100%;
      }
  
      .login_box {
        margin-bottom: 15px;
      }
  
      .edit_list_verticle.login {
        height: auto !important;
      }
  
      span.icon.visible-sm {
        position: absolute;
        display: block;
        right: 15px;
        top: 10px;
        font-size: 20px;
      }
  
      .client_thum_list .client_slider .item img {
        width: 72.75px;
        height: 75px;
      }
  
      /*=============================================*/
  
      .edit_list_verticle.login {
        height: 290px;
      }
      .login_box {
        padding: 10px 5px 0 5px;
        margin-bottom: 20px;
      }
      .login_box ul:last-child {
        /*margin-bottom:0;
        */
      }
      .alpha_keyboard ul:last-child {
        margin-bottom: 10px;
      }
      .numeric_keyboard ul:last-child {
        margin-bottom: 10px;
      }
      .sym_keyboard ul:last-child {
        margin-bottom: 10px;
      }
      .login_box li {
        font-size: 13px;
        width: 30%;
      }
      .login_box li.num_btn {
        width: 10.6%;
      }
      .login_box li.login_btn {
        width: 36%;
      }
      .login_box li.text_box {
        width: 36%;
      }
      .login_box li.pass_btn {
        width: 36%;
      }
      .login_box li.num_btn.big {
        width: 39%;
      }
      .login_box li.num_btn_space.big {
        width: 39%;
      }
      .login_box ul.keybord li {
        font-size: 23px;
      }
      .login_box li.big_num {
        width: 27%;
      }
      .login_box li.sym_key {
        width: 14%;
      }
      .login_box li.sym_key:hover {
        font-weight: normal;
      }
      .login_box.settlement ul.keybord li.last:last-child {
        margin-right: 5% !important;
      }
      .store_list > .form-group {
        margin-right: 7px;
      }
      /*-------login_part_new----------*/
      .login_thum_list li:last-child {
        width: 53.33%;
        margin-right: 1.5%;
      }
      .client_login {
        width: 28.5%;
      }
      /* .client_thum_container{
          width: 67%;
      }*/
      .client_thum_list li {
        margin-top: 10px;
      }
      .login_thum_list li {
        margin-right: 0%;
        float: left;
        width: 99%;
      }
      .login_thum_list li:last-child {
        margin-right: 0%;
        float: left;
        width: 99%;
      }
      .login_vertical {
        height: 478px;
      }
      /*--------celender_part--------*/
      .celender_top {
        max-width: 278px;
        margin-top: 0;
        margin-bottom: 5px;
      }
      .week_name {
        font-size: 32px;
      }
      .day_time {
        font-size: 25px;
      }
      .month_name {
        margin-top: 0;
      }
      .date_num_thum {
        font-size: 35px;
      }
      .day_list {
        max-width: 350px;
        margin: 0 auto;
      }
      .day_list ul {
        max-width: 300px;
        margin: 0 auto;
      }
      .day_list ul.day_name.two {
        display: none;
      }
      .day_list li {
        width: 28px;
        height: 20px;
        font-size: 14px;
        margin: 1% 2.1%;
      }
      .week_thum {
        float: none;
        text-align: center;
      }
      .sun_thum {
        width: 100%;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        padding: 0;
      }
      /*.sun_thum img{
           display:inline-block;
           width:100px;
      }
      */
      .welcom_text {
        display: block;
      }
      /*--------celender_part--------*/
      /*-------workspace_part----------*/
      .sales_text {
        font-size: 22px;
        width: 46%;
      }
      .sales_img.today li {
        width: 40%;
      }
      .offer_list li {
        line-height: 13px !important;
        margin: 4px 0;
        font-size: 13px;
      }
      .tweeter_thum {
        width: 100%;
        height: 65px;
        margin-bottom: 8px;
      }
      .tweet_bottom {
        bottom: 4px;
      }
      .tweet_icon i {
        font-size: 25px;
      }
      .facebook_thum {
        width: 100%;
        height: 65px;
      }
      /*-------navbar_part----------*/
      .navbar-brand {
        width: 70px;
        /*margin-top:4px;
        */
      }
      .left_link_part {
        display: none;
      }
      .middle_link_part {
        /*width:418px;
        */
        margin-left: 0.5%;
        margin-right: 0.5%;
      }
      .z_index_one {
        /*width:418px !important;
        */
      }
      .workspace_link {
        width: 125px;
      }
      .work_links li {
        width: 102px;
      }
      .work_links li.two {
        width: 110px;
      }
      .work_links li.three {
        width: 100px;
      }
      .work_links li.four {
        width: 85px;
      }
      .branch_link {
        width: 110px;
      }
      .branch_list li {
        width: 88px;
      }
      .branch_list li.three {
        width: 60px;
      }
      .branch_list li.four {
        width: 80px;
      }
      .branch_list li.five {
        width: 68px;
      }
      .browse_btn {
        right: 109px;
      }
      .browse_btn li a {
        padding: 8px 13px;
      }
      .arrow {
        padding: 3px 8px;
      }
      .arrow_left {
        padding: 3px 8px;
      }
      .bell_link li a i {
        font-size: 20px;
      }
      .search_box_link.report {
        width: 60%;
      }
      .search_box_link.report input {
        width: 100% !important;
      }
      .search_report {
        width: 70%;
        max-width: 208px;
        margin-right: 5px;
      }
      /*-------navbar_part----------*/
      /*-------workspace_part----------*/
      /*-------remark_part----------*/
      .remark_left {
        width: 50%;
        height: 212px;
      }
      .remark_right {
        width: 48%;
        height: 212px;
      }
      .remark_text_box > .form-group > .form-control {
        min-height: 168px;
      }
      /*-------remark_part----------*/
      /*-------dine_in_browse_part----------*/
      .search_box_link input {
        /*width:150px !important;
        */
      }
  
      .browse_box li {
        width: 23.7%;
      }
  
      .browse_box li.bill_look {
        width: 47%;
      }
      .browse_box.stock_thum li {
        width: 47%;
        margin: 0 1%;
      }
      .top_link_bar.dine_in li.back_btn {
        width: 30px;
      }
      .top_link_bar li.money_btn {
        width: 103px;
      }
      .camera_icon {
        width: 20px;
      }
      .browse_file_icon {
        width: 22px !important;
      }
      .top_link_bar li:first-child {
        width: 8%;
      }
      .top_link_bar li.second {
        width: 80%;
      }
      .top_link_bar li.second li {
        /*padding:3px;
        */
        width: 35px;
      }
      .top_link_bar.dine_in li.second li.icon_box {
        width: 28px;
      }
      .top_link_bar.dine_in li.second li {
        width: 26.5%;
        text-align: left;
        font-size: 15px;
        padding-top: 8px;
      }
      .browse_link_icon {
        display: inline-block;
        float: left;
        width: 20px;
      }
      .browse_link_icon i {
        font-size: 18px !important;
      }
      .browse_right_top {
        width: 93%;
      }
      .qsr_top_link_bar {
        width: 94%;
      }
      .qsr_top_link li {
        width: 21.2%;
      }
      .report_link_list_container {
        max-width: 68%;
      }
      .browse_menu_link_container {
        max-width: 76%;
      }
      /*.icon_btn{
           padding:5px 10px;
           width:40px;
      }
      */
      .back_icon {
        /*padding:11px 3px;
        */
      }
      .back_icon i {
        font-size: 18px;
      }
      .browse_main_link li a {
        padding: 0 8px;
      }
      .qsr_top_link li {
        /*width:86px;
        */
      }
      .qsr_toggle_btn i {
        font-size: 24px;
      }
      .qsr_toggle_btn {
        width: 8%;
      }
      .qsr_top_link {
        width: 84%;
      }
      .browse_box.rightside li {
        width: 31%;
      }
      .browse_box.rightside li > .browse_thum > .browse_middle {
        min-height: 120px !important;
      }
      .browse_middle {
        min-height: 156px;
      }
      .browse_menu_link li a {
        padding: 1px 10px;
      }
      .text_slide {
        left: 22.5%;
        width: 24.5%;
      }
      .total_text.stock_book li:first-child {
        width: 67%;
      }
      .credit_card li {
        width: 30.8%;
        min-width: 165px;
      }
      .credit_card li:first-child {
        margin-left: 1%;
      }
      .received_left > h1 {
        font-size: 22px !important;
      }
      /*-------dine_in_browse_part----------*/
      /*-------menu_part----------*/
      .menu_thum {
        min-height: 212px !important;
        max-height: 212px;
      }
      .menu_icon img {
        max-width: 46px;
      }
      .menu_icon {
        margin-left: 10px;
      }
      .menu_sub li {
        padding-left: 10px !important;
        padding-bottom: 2px;
        padding-top: 2px;
      }
      .menu_sub li a {
        background-size: 5px 10px;
        padding-left: 8px;
        background-position-y: 6px;
      }
      .menu_title {
        font-size: 21px;
      }
      .work_links.menu li {
        width: 108px;
      }
      .work_links.menu li.two {
        width: 105px;
      }
      .work_links.menu li.three {
        width: 110px;
      }
      .work_links.menu li.four {
        width: 80px;
      }
      .menu_box li {
        width: 31.3%;
      }
      /*-------menu_part----------*/
      /*-------massage_box----------*/
      .transaction_link li {
        width: 27.4%;
      }
      .transaction_link ul.botom li {
        width: 32.6%;
      }
      .transaction_link li.num_btn {
        width: 43%;
      }
      /*-------massage_box----------*/
      /*-------report_part----------*/
      .report_verticle {
        height: 410px;
      }
      .report_verticle.small_height {
        height: 338px;
      }
      .report_tab_box {
        width: 87%;
      }
      .report_top_link_bar li.big {
        width: 75%;
      }
      .report_top_link_bar li.two {
        width: 11%;
      }
      .panel_list li {
        width: 24%;
      }
      .report_container > .mCSB_horizontal.mCSB_inside > .mCSB_container {
        width: 1130px !important;
      }
      .report_menu_box li.three_thum {
        width: 31%;
      }
      .report_tab_box.small_with {
        width: 83%;
      }
      /*-------dashboard_part----------*/
      .report_menu_box li {
        width: 31.3%;
      }
      .report_menu_box li.dash_big {
        width: 64.5%;
        float: right;
      }
      .chart .numbers li {
        margin-bottom: 6.3% !important;
      }
      .report_link_middle {
        width: 77%;
      }
      /*-------dashboard_part----------*/
      /*-------report_part----------*/
      /*-------report_part----------*/
      /*-------bill_lookup_page----------*/
      .lookup_list {
        right: 5px;
        width: 26%;
      }
      .link_list li {
        width: 100% !important;
      }
      .input-group.date > .input-group-addon {
        width: 22px;
      }
      .lookup_list {
        width: 29%;
      }
      .form-control {
        padding: 6px 5px;
        font-size: 13px;
      }
      .lookup_left_list {
        left: 5px;
        width: 29%;
      }
      .bill_lookup_customer_view {
        height: 206px;
      }
      .mCSB_inside > .mCSB_container {
        margin-right: 0 !important;
      }
      .login_box li.bill_lookup.long > span a {
        padding-top: 0;
      }
      .attach_bill_view_box.margin_top {
        margin-top: 8px;
      }
      .bill_lookup_attach_list {
        height: 110px;
      }
      .customer_thum.bill_lookup li {
        width: 95px !important;
      }
      .customer_thum.bill_lookup li > .card-container > .card {
        width: 95px !important;
        height: 95px !important;
      }
      .lookup_customer > .table_box > .alphabate {
        width: 8%;
      }
      .inventory_edit ul {
        width: 100%;
        padding-right: 0;
        margin-right: 0;
        min-height: 10px;
        border-right: 0;
        border-bottom: 1px solid #78cde8;
        margin-bottom: 2%;
        padding-bottom: 2%;
      }
      .browse_thum_text {
        height: 59px;
      }
      .login_box li.num_btn.enter_btn {
        width: 23%;
      }
      /*-------bill_lookup_page----------*/
      /*-------customer_page----------*/
      .customer_gift_btn li {
        width: 100%;
        height: auto;
        margin-top: 10px;
      }
      .gift_icon {
        float: left;
        width: 10%;
        max-width: 30px;
        margin: 0 10px;
      }
      .gift_text {
        float: left;
        text-align: left;
        font-size: 16px;
      }
      .gift_per {
        font-size: 14px;
        margin-top: 3px;
      }
      .top_link_bar li.last {
        width: 10%;
      }
      .product_thum li {
        min-width: 145px;
      }
      .product_thum.with_toggle li {
        min-width: 135px;
        max-width: 135px;
        margin: 2%;
      }
      .customer_thum.with_toggle li {
        margin: 3% 8% !important;
      }
      .customer_thum li {
        margin: 1.7%;
      }
      .customer_address a > .pro_name {
        min-height: 20px;
      }
      .card.big {
        width: 85px;
        height: 85px;
      }
      .front.big {
        width: 85px;
        height: 85px;
      }
      .back.big {
        width: 85px;
        height: 85px;
      }
      .alphabate {
        width: 10%;
      }
      .alphabate li {
        padding: 11% 0;
      }
      .customer_left {
        width: 90%;
      }
      .customer_thum li.big {
        margin: 1.9%;
        width: 85px !important;
      }
      .customer_img_thum {
        /*float:none !important;
         position:relative !important;
         margin:0 auto !important;
        */
      }
      .customer_address_right {
        float: none;
        padding: 0 !important;
      }
      .social_icon li {
        width: 30px !important;
        font-size: 15px !important;
      }
      /*-------customer_page----------*/
      .table_container.height {
        height: 545px;
      }
  
      /*==================== 22-02-2018 ===================*/
  
      .bill_ul li span {
        width: 100px;
        font-size: 20px;
      }
  
      /*================ Change css ========= 16-04-2018 =================*/
  
      .money span img,
      .more span img {
        width: 55px;
        position: relative;
        top: -6px;
      }
  
      /*==================================================================*/
  
      .bill_ul li {
        font-size: 18px;
      }
  
      .open.input_box {
        left: -450px;
        z-index: 9;
        opacity: 1;
        width: calc(500px - 10px);
      }
  
      .bill_detail_section table > thead > tr > th {
        font-size: 16px;
      }
  
      .bill_detail_section table > tbody > tr > td {
        font-size: 15px;
      }
      /*===============================================*/
      /*============== 23-02-2018 ===============*/
      .product_section {
        margin-top: 70px;
        overflow: hidden;
        overflow-y: scroll;
        height: calc(100vh - 16vh);
      }
  
      .intro-header {
        height: 100% !important;
      }
  
      /*====================== 27-02 ======================*/
  
      .report_menu_container,
      .report_menu_box {
        height: calc(100vh - 10vh);
      }
  
      .dashboardChartStyle {
        height: calc(100vh - 72vh) !important;
      }
  
      .thum.dashboard_thum {
        min-height: calc(100vh - 72vh) !important;
      }
  
      .report_menu_box li.dash_big {
        margin-bottom: 10px;
      }
  
      .greed_left.bill {
        padding-right: 15px;
      }
  
      /*===================== 19-03-2018 ======================*/
  
      .product_name span {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 40px;
        font-size: 14px;
        line-height: 17px;
      }
  
      .product_img {
        height: 120px;
        overflow: hidden;
      }
  
      .product_img img {
        height: 120px;
        width: 100%;
      }
    }
  
    @media only screen and (min-width: 482px) and (max-width: 640px) { /*Need TO change*/
      .menu_box li {
        width: 48%;
      }
      .customer_btn {
        display: none;
      }
      .menu_list li {
        margin: 0 3px;
      }
      .menu_link {
        width: 74px;
      }
      .z_index_one {
        width: 159px !important;
      }
      .scan_list li {
        margin: 0 3px;
      }
      .search_link {
        display: block;
      }
  
      /*=================== 2018-01-25 =====================*/
  
      .login_box {
        margin-bottom: 15px;
      }
  
      .edit_list_verticle.login {
        height: auto !important;
      }
  
      span.icon.visible-xs {
        position: absolute;
        display: block;
        right: 15px;
        top: 10px;
        font-size: 20px;
      }
  
      .edit_first_col.second {
        width: 100%;
      }
  
      .client_thum_list .client_slider .item img {
        width: 150px;
        height: 150px;
      }
  
      /*====================================================================================*/
      /*========================================= 02-02-2018 ===============================*/
      /*====================================================================================*/
      /*.product_list_ul li {
          width: 23.4%;
      } */
      /*====================================================================================*/
      /*====================================================================================*/
  
      /*===================== 19-03-2018 ======================*/
  
      .product_name span {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 40px;
        font-size: 14px;
        line-height: 17px;
      }
  
      .product_img {
        height: 120px;
        overflow: hidden;
      }
  
      .product_img img {
        height: 120px;
        width: 100%;
      }
    }
  
    @media only screen and (min-width: 300px) and (max-width: 480px) {
      .intro-header {
        padding-top: 0;
        height: 68%;
      }
      .z_index_one {
        width: 159px !important;
      }
      .menu_box li {
        width: 48%;
      }
      .menu_link {
        width: 74px;
      }
      .menu_list li {
        margin: 0 3px;
      }
      .customer_btn {
        display: none;
      }
      .search_link {
        display: block;
      }
      /*.customer_btn{
           max-width:190px;
      }
      */
      .customer_btn li.show_search input {
        width: 120px !important;
      }
      .scan_link {
        left: 78px;
      }
      .scan_list li {
        margin: 0 3px;
      }
      .thum {
        min-height: 80px;
      }
      .widget {
        width: 94%;
      }
  
      /*=================== 2018-01-25 =====================*/
  
      .login_box {
        margin-bottom: 15px;
      }
  
      .edit_list_verticle.login {
        height: auto !important;
      }
  
      span.icon.visible-xs {
        position: absolute;
        display: block;
        right: 15px;
        top: 10px;
        font-size: 20px;
      }
  
      .edit_first_col.second {
        width: 100%;
      }
  
      /*===================================================================================*/
      /*================================ qsr responsive pages =============================*/
      /*===================================================================================*/
  
      .product_list_ul li {
        width: 48%;
        background-color: #fff;
        margin: 6px 2px;
        box-shadow: 0 0 10px #6d6d6d;
      }
  
      .product_name {
        font-size: 13px;
      }
  
      /*.bill_ul li.Total_bill span {
          width: 145px;
          background-color: #313131;
      }*/
  
      /*===================================================================================*/
      /*====================================== 22-02-2018 =================================*/
  
      .bill_ul li span {
        width: 40px;
      }
  
      /*===================================================================================*/
  
      /*====================== 28-02 =======================*/
  
      .open.input_box {
        width: 280px;
        left: -227px;
        z-index: 9;
        opacity: 1;
        width: calc(380px - 115px);
      }
  
      .btn_key {
        font-size: 13px;
      }
  
      .cover_dp {
        overflow: hidden;
        height: 100px;
        width: 100%;
      }
  
      .product_detail_section .cover_img .profile_box {
        bottom: 15px;
        width: 100px;
        height: 100px;
      }
  
      .key_button_list {
        max-height: 180px;
        height: 180px;
      }
  
      /*===================== 19-03-2018 ======================*/
  
      .product_name span {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 40px;
        font-size: 14px;
        line-height: 17px;
      }
  
      .product_img {
        height: 120px;
        overflow: hidden;
      }
  
      .product_img img {
        height: 120px;
        width: 100%;
      }
  
    }
  
    @media(max-width: 320px) {
      .client_thum_list .client_slider .item img {
        width: 120px;
        height: 109px;
      }
  
      /*===================================================================================*/
      /*================================ qsr responsive pages =============================*/
      /*===================================================================================*/
  
      .bill_ul li span {
        display: block;
        height: 33px;
        width: 33px;
        padding-top: 6px;
        background-color: #ee796e;
        text-align: center;
        margin: 0 auto;
        font-size: 15px;
      }
  
      .bill_ul li.Total_bill span {
        width: 82px;
      }
  
      /*.product_list_ul li {
          width: 32%;
          margin: 6px 0px;
      }*/
  
      /*.side_menu_box {
          width: 221px;
      }*/
  
      .open.input_box {
        width: 206px;
        left: -171px;
      }
  
      /*.cover_img .profile_box img {
          width: 65px;
      }*/
  
      .cover_img .profile_box ul li:first-child {
        width: 77px;
      }
  
      .cover_img .profile_box {
        position: absolute;
        bottom: -30px;
      }
  
      .side_menu_list ul li span {
        margin-right: 0px;
      }
  
      .side_menu_list ul li a {
        font-size: 14px;
      }
  
      .cover_img {
        height: 90px;
      }
  
      .person_name {
        font-size: 15px;
        margin-left: 15px;
        line-height: 16px;
      }
  
      /*=============== 13-04-2018 =================*/
  
      .split_box label {
        font-size: 12px;
      }
  
      /*========================== product_detail_section ========================== */
  
      .product_detail_section .cover_img .profile_box .profile_img {
        width: 125px;
        height: 125px;
      }
  
      /*.product_detail_section .cover_img .profile_box {
          bottom: 0;
          width: 100px;
          height: 100px;
      }*/
  
      .form-box {
        padding-top: 0px;
      }
  
      .form-box label {
        padding-left: 15px;
        font-size: 12px;
      }
  
      .product_detail_section {
        padding-bottom: 0;
      }
  
      .btn_update {
        font-size: 16px;
      }
  
      .more img {
        width: 32px;
        margin-top: 0;
        position: relative;
        top: 2px;
      }
      /*===================================================================================*/
  
      /*================================== bill section ===================================*/
  
      .bill_detail_section table > thead > tr > th,
      .bill_detail_section table > tbody > tr > td {
        font-size: 11px;
        padding: 8px 2px;
      }
  
      .bill_detail_section table > thead > tr > th:first-child,
      .bill_detail_section table > tbody > tr > td:first-child {
        padding-left: 10px;
      }
  
      /*===================================================================================*/
      /*===================================================================================*/
    }
    @media only screen and (min-width: 300px) and (max-width: 460px) {
      /*-------login_part----------*/
      /*.intro-header{
           padding-top:0;
           height:80% !important;
      }*/
      .login_box ul {
        margin-bottom: 5px;
      }
      .login_box li {
        font-size: 20px;
        height: 30px;
      }
      .login_box li a {
        height: 25px;
      }
      .edit_first_col {
        margin-bottom: 0;
      }
  
      /*====================== 2018-01-25 =========================*/
  
      .edit_first_col.second {
        width: 100%;
      }
  
      .edit_list_verticle.login {
        height: auto !important;
      }
  
      .thum.store_thum {
        height: 180px !important;
        min-height: 180px !important;
      }
  
      .login_box {
        margin-bottom: 15px;
      }
  
      span.icon.visible-xs {
        position: absolute;
        display: block;
        right: 15px;
        top: 6px;
        font-size: 20px;
      }
  
      .client_thum_list .client_slider .item img {
        width: 114px;
        height: 114px;
      }
  
      /*-====================================-*/
  
      /* .edit_list_verticle.login{
           height:236px;
      }*/
      .edit_list ul.small_box_scroll li {
        height: 30px;
      }
      .login_box li.pass_btn .form-control {
        height: 30px;
      }
      .day_list ul.day_name.two {
        display: none;
      }
      .day_list li {
        width: 35px;
        height: 35px;
        font-size: 15px;
        margin: 1%;
      }
      .date_num_thum {
        float: none;
        margin-right: 0;
      }
      .week_thum {
        float: none;
        text-align: center;
      }
      .sun_thum {
        /*float:none !important;
        */
        display: block !important;
        margin: 0px auto !important;
        padding: 0;
        width: 50px !important;
      }
      .welcom_text {
        display: block;
        font-size: 18px;
        text-align: center;
        margin: 0 auto;
      }
      .welcom_text h3 {
        font-size: 22px !important;
        margin-top: 15px;
        margin-bottom: 18px;
      }
      .login_imfobox {
        min-height: 187px;
        height: 104px;
        margin-top: 0;
      }
      /*.thum{
         height:125px;
     }*/
  
      /*=========================== 2018-01-25 ============================*/
      /*.thum {
          height: auto !important;
      }*/
  
      .offer_thum {
        min-height: 216px !important;
        height: auto !important;
      }
  
      .box_cover {
        display: block;
      }
  
      /*===================================================================*/
  
      .login_box ul.keybord li.arrow_key {
        width: 12.6%;
      }
      .login_imfobox > .box_cover {
        padding: 5px;
      }
      .footer_logo img {
        max-width: 215px;
      }
      .client_login {
        width: 28.5%;
      }
      #quote-carousel {
        margin-top: 0;
      }
      #quote-carousel .carousel-indicators {
        top: -40px !important;
        width: 24% !important;
      }
      #quote-carousel .carousel-indicators li {
        width: 10px !important;
        height: 10px !important;
      }
      .testimonial_img {
        display: none;
      }
      .testimonial_text {
        width: 98%;
      }
      .keyboard_fix {
        width: calc(100% - 12px) !important;
      }
      .login_box li {
        /*word-break:break-all;
         font-size:14px;
         width:29.8%;
        */
      }
      .login_box {
        padding: 5px 5px 0 5px;
      }
      .login_box li.num_btn {
        width: 11%;
      }
      .login_box li.text_box {
        width: 37%;
      }
      .login_box li.login_btn {
        width: 37%;
      }
      .login_box li.pass_btn {
        width: 37%;
      }
      .login_box li.num_btn.big {
        width: 23%;
      }
      /*-------login_part----------*/
      .customer_btn {
        max-width: 100%;
        margin: 0;
        margin-top: 5px;
      }
      .menu_list li {
        /*margin:0 3px;
        */
      }
      .menu_list_box {
        width: 203px;
      }
      .scan_list li {
        margin: 0 3px;
      }
      .scan_link {
        /* left:43px;
        */
        left: 78px;
      }
      .workspace_imfobox {
        height: 360px;
      }
      .edit_imfobox {
        height: 360px;
      }
      /*-------menu_part----------*/
      .customer_btn li {
        width: 12%;
      }
      .customer_btn li.show_search input {
        width: 172px !important;
      }
      .bell_link li a i {
        padding-left: 4px;
      }
      .form-control {
        padding: 6px 3px;
      }
      .menu_box li {
        width: 98%;
      }
      .scan_link {
        left: 75px;
      }
      /*-------menu_part----------*/
      /*-------workspace_part----------*/
      .tweeter_thum {
        width: 100%;
        height: 80px;
        margin-bottom: 15px;
      }
      .tweet_bottom {
        bottom: 8px;
      }
      .facebook_thum {
        width: 100%;
        height: 80px;
      }
      /*-------workspace_part----------*/
      /*-------customer_part----------*/
      .top_link_bar li:first-child {
        width: 15%;
      }
      .top_link_bar li.last {
        width: 15%;
      }
      .top_link_bar li.second {
        width: 67%;
      }
      .alphabate {
        width: 9%;
      }
      .alphabate li {
        padding: 11.5% 0;
      }
      .customer_thum li {
        width: 120px;
        height: 120px;
      }
      .front, .back {
        width: 115px;
        height: 115px;
      }
      .card {
        width: 115px;
        height: 115px;
      }
      /*-------customer_part----------*/
      /*-------qsr_part----------*/
      .qsr_top_link li {
        width: 77px;
      }
      .qsr_top_link li:last-child {
        border-right: 0;
      }
      /*-------customer_part----------*/
      /*-------qsr_part----------*/
      .report_tab_box {
        width: 73%;
      }
      .report_link li {
        margin: 0 4px;
      }
      .report_link li:last-child {
        margin-right: 0;
      }
      .report_top_text {
        height: 45px;
      }
      /*-------report_part----------*/
    }
  }