<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img class="menu-logo" src="assets/img/wow_logo.png" />
    </button>
      <ion-input class="cardtype" placeholder="Search ..." clearInput></ion-input>
    <ion-buttons end>
      <button ion-button icon-only (click)="openBarcode()">
        <ion-icon name="md-qr-scanner"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content swipeAll (swipedown)="swipeDown($event)">
  <ion-grid class="barcode-details">
    <ion-row><ion-col class="head">Hi Hiren</ion-col></ion-row>
    <ion-row><ion-col class="value">Good Morning</ion-col></ion-row>
    <ion-row><ion-col class="head">Steps - Barcode</ion-col></ion-row>
    <ion-row><ion-col class="value">1. Steps to search by UPC/EAN Code / Barcode</ion-col></ion-row>
    <ion-row><ion-col class="head">Steps - SKU Code</ion-col></ion-row>
    <ion-row><ion-col class="value">2. Steps to search by - Product Code / Alias Type product code & hit enter (or) Click on item button</ion-col></ion-row>
  </ion-grid>
  <ion-grid class="barcode-input" no-padding>
    <ion-row>
      <ion-col no-padding col-3><button ion-button full>UPC/EAN</button></ion-col>
      <ion-col no-padding col-6><ion-input placeholder="BARCODE" clearInput></ion-input></ion-col>
      <ion-col no-padding col-3><button ion-button full>ITEM</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <section class="footer-bill" text-center>
    <ion-row>
      <ion-col col-2>Count
        <span>10</span>
      </ion-col>
      <ion-col col-2 (click)="openCart()">Quantity
        <span>10</span>
      </ion-col>
      <ion-col col-4 (click)="payement()" swipeAll (swipeup)="swipeUp($event)" >Total Bill
        <span class="total-biil-amount" style="background-color: #313131;" >10</span>
      </ion-col>
      <ion-col col-2 class="Quantity">Cash
        <span class="icon">
          <!-- <img src="assets/img/quick_cash_icon_red.png"> -->
          <ion-icon name="ios-cash"></ion-icon>
        </span>
      </ion-col>
      <ion-col col-2 class="Quantity">Credit
        <span class="icon">
          <!-- <img src="assets/img/Shape-1-copy.png"> -->
          <ion-icon name="md-card"></ion-icon>
        </span>
      </ion-col>
    </ion-row>
  </section>
</ion-footer>