page-barcode {
    .barcode-details{
        background-color: rgba(232, 76, 61, 0.8);
        color: white;
        .head{
            font-weight: bold;
            font: 18px;
        }
        .value{
            font-weight: normal;
            font-size: 12px;
            padding-left: 15px;
        }
    }
    .barcode-input{
        margin-top: 2px;
        box-shadow: 0 0 5px rgba(232, 76, 61, 1);
        ion-row{
            ion-col{
                button{
                    margin: 0;
                    background-color: rgba(232, 76, 61, 1);
                }
                ion-input{
                    background-color: rgba(232, 76, 61, 0.1);
                    height: 36px;
                }
            }
        }
    }
}