page-signup {
    .item-md {
      padding: 0;
    }
  
    .HeadText {
      display: block;
      font-family: Poppins-Bold;
      font-size: 39px;
      color: #57b846;
      line-height: 1.2;
      text-align: center;
    }
  
    .LogoImg {
      display: block;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0px auto;
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 2px 5px 18px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 2px 5px 18px rgba(0, 0, 0, 0.3);
    }
  
    .ActivateButton {
      font-family: Poppins-Medium;
      font-size: 16px;
      color: #fff;
      line-height: 1.2;
      text-transform: uppercase;
  
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      width: 100%;
      height: 50px;
      background-color: #57b846;
      //border-radius: 25px;
  
      box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
      -moz-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
      -webkit-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
      -o-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
      -ms-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
  
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    }
  
    .ActivateButton:hover {
      background-color: #333333 !important;
      box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
      -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
      -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
      -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
      -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    }
  
  }
  