<ion-content text-center>
  <ion-grid>
    <ion-row>
      <ion-col col-12 class="HeadText">Activation</ion-col>
      <ion-col col-12 style="height: 150px;">
        <img src="assets/img/logo.png" class="LogoImg" alt="AVATAR">
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col col-6 push-3 push-lg-4 col-lg-4>
        <ion-item>
          <ion-label stacked>URL End Point</ion-label>
          <ion-input [(ngModel)]="login.url" placeholder="URL End Point" type="text" spellcheck="false" autocapitalize="off">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col col-6 push-3 push-lg-4 col-lg-4>
        <ion-item>
          <ion-label stacked>Domain Name</ion-label>
          <ion-input [(ngModel)]="login.username" placeholder="Domain Name" type="text" spellcheck="false" autocapitalize="off">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col col-6 push-3 push-lg-4 col-lg-4>
        <ion-item>
          <ion-label stacked>Order ID</ion-label>
          <ion-input [(ngModel)]="login.password" type="text" placeholder="Order ID">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col col-6 push-3 push-lg-4 col-lg-4>
        <button ion-button (click)="Activate()" class="ActivateButton" round type="submit">Activate</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>